.container{
    
    border:2px solid black;
    display: flex;
    justify-content: center;
    width: 60rem;
    margin-left: 250px;
    background-color:lightgoldenrodyellow;
}
img{
    width:40rem;
}
img:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}